<div class="container">
  <form name='form' #myForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon">英雄名称</span>
          <input type="text" name="name" id="name" class="form-control" placeholder="Hero Name Here" [(ngModel)]="hero.name" #name="ngModel"
            required>
        </div>
        <div *ngIf="name.invalid && (name.dirty || name.touched || myForm.submitted)">
          <div class="text-danger" *ngIf="name.errors.required">Name4444 is required</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon">英雄头像</span>
          <input type="text" class="form-control" name="avatar" id="avatar" placeholder="Hero Name Here" [(ngModel)]="hero.avatar" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon">英雄描述</span>
          <input type="text" class="form-control" name="description" id="description" placeholder="Hero Name Here" [(ngModel)]="hero.description">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon">英雄类型</span>
          <select class="form-control" [(ngModel)]="hero.type" name="type" id="type">
            <option>战士</option>
            <option>法师</option>
            <option>射手</option>
            <option>刺客</option>
            <option>坦克</option>
            <option>辅助</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <!-- <button type="button" class="btn btn-primary">确认添加</button> -->
          <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">确认添加</button>
        </div>
      </div>
    </div>
  </form>
</div>